/DATA
/RESULTS
/Cloud_Compare_Projects
/LOGS
/FIGURES
/requirements(original).txt
/myenv.yml
__pycache__/
# Ignore folder called experimental-analysis in a sibling directory
../experimental-analysis/
# Ignore folder called experimental-analysis in a parent directory
